@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');

/*-------------------------------- Navbar */

i {
    margin-right: 5px;
}

.navbar-wrapper {
    background-color: #c92b2b;
}

.navbar-wrapper img {
    width: 47px;
    height: 47px;
}

.dropdown-menu {
    position: relative;
    top: 4rem;
    background-color: #c92b2b;
    border: none;

}

.dropdown-item {
    color: #ffffff;
}


li a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

#nav-link-login {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}


/*-------------------------------- Fixtures method 2 */

.fixtures-heading {
    width: 50rem;
}

.fixtures-heading h3 {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #797979;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.my-container-2 {
    margin-top: 2rem;
    width: 50rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.my-row-2 {
    padding-bottom: 0px;
    padding-top: 1rem;
}

.my-row-3 {
    padding-top: 0px;
    border-bottom: 1px solid #797979;
    padding-bottom: 1rem;
    
}

/*-------------------------------- Fixtures method 2 */



.fixture-wrapper {
    margin-top: 1rem;
    padding-left: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ececec;
}

.fixture-header h3 {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #797979;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    padding-left: 15px;
    
    
}


.fixture-content {
    margin-top: 2rem;
}

.fcb-fixture-league h3 {
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #505050;
}

.fcb-fixture-stadium h3 {
    font-size: 14px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #797979;
}

.fixture-content h3 {
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #505050;

}

.fixutre-home-name h3 {
    float: right;
}

.fixture-kick-off {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixture-kick-off h3 {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #505050;
}

.fixture-home-logo img {
    width: 40px;
    height: 40px;
    float: right;
}

.fixture-away-logo img {
    width: 40px;
    height: 40px;
}


.fixutre-banner {
    border: 5px solid black;
}

.fixutre-banner-content {
    margin-top: 2rem;
    
}

.fixutre-banner-content img {
    width: 37px;
    height: 37px;
}

.fixutre-banner-content a {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    color: #fff;
    background-color: #c92b2b;
    float: right;
}






