@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');


.navbar {
    background-color: #c92b2b;
}



.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#nav-link-login {
    font-size: 15px;
    padding-top: 40px;
}

.navbar a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.container-fluid img {
    max-width: 1690px;
}







